<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Daftar Produk</title>
</head>
<body>
<section layout:fragment="content">
    <h2>Daftar Produk</h2>

    <div th:if="${dataProduk?.empty}">
        Data produk tidak tersedia
    </div>

    <div class="table-responsive" th:if="${!dataProduk?.empty}">

        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <td>Kode</td>
                <td>Nama</td>
                <td>Harga</td>
                <td>&nbsp;</td>
            </tr>
            </thead>

            <tbody>
            <tr th:each="p : ${dataProduk}">
                <td th:text="${p.code}">K-001</td>
                <td th:text="${p.name}">Kode Produk 001</td>
                <td th:text="${p.price}">Rp. 200.000</td>
                <td>
                    <a href="/product/form?id=123">edit</a>
                    <a th:href="@{/product/form(id=${p.id})}">edit</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</section>
</body>
</html>